{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} About {% endblock %}</h1>
    
    <div class = "para">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec nulla eget urna aliquet porttitor a lobortis nunc. Donec et dui ante. In aliquet molestie felis, a semper mauris consectetur a. Praesent a nulla ac sapien malesuada vestibulum id vel tortor. Phasellus ante magna, rutrum sodales magna quis, malesuada sodales lectus. Curabitur id nisl rhoncus, fermentum massa a, tristique velit. Aliquam et risus velit. Vivamus ornare accumsan mauris. Pellentesque cursus, elit posuere mollis vulputate, nibh sapien egestas libero, sed condimentum quam libero non diam. Nullam sagittis sapien vestibulum mi venenatis viverra. Nulla ante tortor, tincidunt at velit vel, venenatis tristique diam. Aliquam lobortis tempus neque, vitae fermentum augue vehicula mollis. Etiam nunc felis, pharetra at ex id, sodales pulvinar ipsum.</p>
<p>Fusce tincidunt massa sed dolor cursus egestas. Etiam ex magna, venenatis gravida volutpat rutrum, egestas non mauris. Vestibulum dignissim, augue vitae condimentum egestas, urna magna malesuada leo, quis venenatis purus nisi sit amet turpis. Aliquam vel augue a nulla pulvinar tempor. Integer quis nulla bibendum, mattis leo eget, faucibus nisl. Duis sodales, elit eu aliquam blandit, eros nibh auctor massa, id pellentesque turpis nisi ac neque. Nam varius sapien eget ligula fermentum, nec laoreet tortor mollis. Praesent tortor sapien, varius sed augue id, ultricies luctus diam. Vestibulum maximus, erat nec cursus molestie, libero eros pharetra lorem, vitae congue sem sapien a est. Sed et auctor eros, vel feugiat tortor. Ut elementum est in risus semper hendrerit.</p>

<p>Etiam a tellus ex. Aenean elementum interdum odio at consectetur. Pellentesque vehicula, felis mollis varius bibendum, mauris est hendrerit eros, vitae auctor sem leo vitae augue. Aliquam vestibulum laoreet libero nec convallis. Sed a varius tortor. Vivamus consectetur viverra purus, ut porta sapien finibus sed. Curabitur a aliquam justo, et venenatis libero.</p>

</div>

{% endblock %}